@import "../components/bootstrap/scss/bootstrap";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://cdn.jsdelivr.net/npm/@fancyapps/ui@4.0/dist/fancybox.css");
@mixin responsivo($rl,
$rl2: 1) {
    @if ($rl2 !=1) {
        @media only screen and (min-width: $rl+"px") and (max-width: $rl2+"px") {
            @content;
        }
    }
    @else {
        @media only screen and (max-width: $rl+"px") {
            @content;
        }
    }
}

@mixin anima-slow {
    -o-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -khtml-transition: all 0.3s linear;
    -webkit-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    transition: all 0.3s linear;
}

@mixin anima-normal {
    -o-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -khtml-transition: all 0.2s linear;
    -webkit-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

@mixin anima-fast {
    -o-transition: all 0.1s linear;
    -moz-transition: all 0.1s linear;
    -khtml-transition: all 0.1s linear;
    -webkit-transition: all 0.1s linear;
    -ms-transition: all 0.1s linear;
    transition: all 0.1s linear;
}

@mixin placeholder {
    &::-webkit-input-placeholder {
        opacity: 1;
        @content;
    }
    &:-moz-placeholder {
        opacity: 1;
        @content;
    }
    &::-moz-placeholder {
        opacity: 1;
        @content;
    }
    &:-ms-input-placeholder {
        opacity: 1;
        @content;
    }
}

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    background-color: #eaeaea;
}

::-webkit-scrollbar-thumb {
    background-color: #9e9e9e;
    border-radius: 6px;
    cursor: pointer;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #0063f6;
}

.ocultar {
    position: absolute;
    left: -99px;
    top: -99px;
    text-indent: -9999px;
}

body,
p,
h1,
h2,
h3,
ul,
li,
a {
    margin: 0 auto;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

body {
    font-family: "Jost", sans-serif;
    overflow-x: hidden;
}

// svg {
//     path {
//         stroke-width: 0 !important;
//         stroke: none !important;
//     }
// }
// ANIMATION ELEMENT
@import "animation-element";
// VARIABLE
@import "variable";
// HEADER
@import "header";
// SLICK
@import "slick";
// MENU
@import "menu";
// BANNER
@import "banner";
// BUTTONS
@import "buttons";
// SERVICES
@import "services";
// ABOUT
@import "about";
// PORTFÓLIO
@import "portfolio";
// FORMULARIO
@import "formulario";
// CONTACT
@import "contact";
// RESULT SEARCH
@import "result-search";
// PARCEIROS
@import "parceiros";
// PARCEIROS
@import "blog";
// FOOTER
@import "footer";